
.nav{
  background-color: aqua;
  grid-column: 0 / 1;
grid-row: 2 / 3;

}
.item > a{
  transition: 0.3s;
  color: white;
}
/* .item > a:hover{
  color: gold;
} */
.item > a.active{
  color: gold;
  pointer-events: none;
  cursor: default;
}
.nav__links{
  margin-bottom: 60px;
}
.nav__friends.friends{
  padding: 10px;
}

.friends__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.friends__title{
  font-size: 26px;
  color: white;
margin-bottom: 10px;
}
