
@keyframes Spiner {
    0%,100%{
        opacity: 0.3;
    }
    50%{
opacity: 0.2;
    }
}

.spiner_container{
position: absolute;
transition: 0.3s;
background-color: azure;
opacity: 0.3;
width: 100%;
height: 100%;
animation: Spiner 1.0s infinite 0s linear;

}
.spiner_image{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 4%;
left: 50%;
transform: translate(-50%,0%);
}
.spiner{
    position: absolute;
    width: 100%;
    height: 100%;
object-fit: cover;
}