.users {
    padding: 5px;
}

.users__container {
}

.users__body {
    padding-bottom: 15px;
}

.users__title {
    font-size    : 24px;
    font-weight  : 700;
    margin-bottom: 40px;

}

.users__content {
    margin-bottom: 15px;

}


.users__items {}



.show__more {
    text-align: center;
}

.show__button {
    background-color: rgb(19, 102, 19);
    color           : greenyellow;
    font-weight     : 700;
    font-size       : 25px;
    padding         : 15px 35px;
}



/* page  */

.page_block{

}
.page_list{

}
.page_number{   /* selectedPage */
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
}

.page_number__active{
    font-weight: 700;

}