.userMessages{
    padding: 0 40px;

}
.userMessages textarea{
    width: 100%;
    margin: 0 auto;

}
.messageBlock{
    margin-bottom: 20px;
}
.messageBlock > div:nth-of-type(even){
text-align: end;
}
.userMessages__message{
text-align: center;

}
.textareaBlock{
    margin-bottom: 10px;
}
.content__textarea{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    height: 150px;
    resize: none;
    /* margin-bottom: 20px; */
    background-color: rgb(212, 211, 211);


}