@import url('../src/nul_style.css');


.app-wrapper{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns:2fr 10fr;
    row-gap: 10px;

    /* justify-items: center; */
}




